/* Container for the entire component */
.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: #f4f4f4;
}
.resetpasswordspan{
    color: rgb(187, 24, 24);
}

/* Loading state */
.forgot-password__loading {
    font-size: 18px;
    color: #666;
}

/* Main container */
.forgot-password__container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Title */
.forgot-password__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Description */
.forgot-password__description {
    font-size: 16px;
    margin-bottom: 30px;
    color: #666;
}

/* Form */
.forgot-password__form {
    display: flex;
    flex-direction: column;
}

/* Label */
.forgot-password__label {
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}

/* Input field */
.forgot-password__input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Button */
.forgot-password__button {
    padding: 10px 20px;
    font-size: 16px;
    background: #a90404;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.forgot-password__button:hover {
    background: #e03b3b;
}

/* Back to login link */
.forgot-password__back-to-login {
    margin-top: 20px;
}

.forgot-password__back-to-login p {
    color: #000000;
    cursor: pointer;
}

.forgot-password__back-to-login p:hover {
    text-decoration: underline;
}
.spinner {
    width: 11.2px;
    height: 11.2px;
    animation: spinner-z355kx 1s infinite linear;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 #a72828, 17.4px 21.8px 0 0 #a72828, -6.2px 27.2px 0 0 #a72828, -25.2px 12px 0 0 #a72828, -25.2px -12px 0 0 #a72828, -6.2px -27.2px 0 0 #a72828, 17.4px -21.8px 0 0 #a72828;
 }
 
 @keyframes spinner-z355kx {
    to {
       transform: rotate(360deg);
    }
 }
/* Responsive Design */
@media (max-width: 600px) {
    .forgot-password__container {
        padding: 20px;
    }

    .forgot-password__title {
        font-size: 20px;
    }

    .forgot-password__description {
        font-size: 14px;
    }

    .forgot-password__button {
        font-size: 14px;
    }
}
