.mainbody_heading {
    font-size: 2rem;
    color: #e2e2e2;
    text-align: center;
    margin: 1rem 0;
  }
  
  .all_steps_creating_course {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .course_ceating_description {
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 1rem auto;
    /* max-width: 800px; */
    max-width: 350px;
    /* align-items: self-end; */
    position: absolute;
    top: 102px;
    right: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .paragraph {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .course_ceating_description ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    color: #555;
  }
  
  .course_ceating_description li {
    margin-bottom: 0.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .mainbody_heading {
      font-size: 1.5rem;
    }
  
    .course_ceating_description {
      padding: 1rem;
    }
  
    .paragraph {
      font-size: 1rem;
    }
  }
  