.edit_profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.edit_profile_info {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  transition: max-width 0.3s ease;

}
.edit_profile_form{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
}
/* Grid for 3 rows and 2 columns */

.edit_profile_heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.edit_profile_labels {
  display: flex;
  flex-direction: column;
}

.edit_profile_p {
  font-size: 16px;
  margin-bottom: 8px;
  color: #000000;
  font-weight: 500;
}

.edit_profile_input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.edit_profile_input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.edit_profile_save_button {
  padding: 12px 0;
  background-color: #1f9bcf;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%; /* Full width button */
}

.edit_profile_save_button:hover {
  background-color: #1888a8;
}

/* Responsive Design */

/* For mobile screens */
@media (max-width: 768px) {
  .edit_profile_info {
    max-width: 100%;
    padding: 20px;
  }

  .edit_profile_form{
    display: flex;
    flex-direction: column;

  }
}

/* For tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .edit_profile_info {
    max-width: 700px;
  }
}

/* For larger laptops and desktops */
@media (min-width: 1025px) {
  .edit_profile_info {
    max-width: 900px;
    padding: 40px;
  }
}
