/* Template.css */

/* General Styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* Grid Centering */
  .grid-center {
    display: grid;
    min-height: calc(100vh - 3.5rem);
    place-items: center;
    background-color: #f0f4f8;
  }
  
  /* Container */
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem;
    max-width: 8000px;
    width: 90%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container-md {
    flex-direction: row;
    gap: 3rem;
  }
  
  /* Text Container */
  .text-container {
    max-width: 450px;
    width: 90%;
    margin: auto;
  }
  
  .title {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.375rem;
    color: #333;
  }
  
  .description {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  
  .text-dark {
    color: #333;
  }
  
  .text-highlight {
    font-family: 'Edu SA', sans-serif;
    font-weight: bold;
    
    /* font-style: italic; */
    color: #1f9bcf;
  }
  
  /* Image Container */
  .image-container {
    position: relative;
    max-width: 450px;
    width: 90%;
    margin: auto;
  }
  
  .image-bg {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    visibility: hidden;
  }
  
  .image-foreground {
    position: absolute;
    /* top: -10px; */
    top: -25px;
    right: 10px;
    width: 90%;
    /* border-radius: 10px; */
    z-index: 10;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  /* Spinner */
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #007bff;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      gap: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
      gap: 3rem;
    }
  }
  